<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

<FilesMatch "^\.(env|git|json|lock|sql)">
    Order allow,deny
    Deny from all
</FilesMatch>

Options -Indexes

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|webp|zip|gz|bz2|flv|mp4|mov|avi|pdf|glb)$ no-gzip dont-vary
    AddOutputFilterByType DEFLATE application/javascript application/json text/css text/html text/plain text/xml
</IfModule>

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-XSS-Protection "1; mode=block"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
